.icon_list a{
    margin-right: 1em;
}
/* Top bar */
#header-bar {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background: lightgrey;
    border-bottom: 1px dashed grey;
}

#header-bar .breadcrumb{
    margin: 0;
    background: lightgrey;
}

/* Bottom bar */
#action-bottom-bar{
    width: 100%;
    min-height: 2em;
    position: fixed;
    bottom: 0;
    background: lightgrey;
    border-top: 1px dashed grey;
    text-align: center;
    padding: 0.3em;
}

#action-bottom-bar .action-buttons{

}

#main-content{
    margin: 4em auto;
}


/* =================== Component styling =================== */

/* Image box */

.PIGImage{

    height: 10em;   /* Fastest work around for same height column */

}

.PIGImage button{
    width: 100%;
    height: 95%;
}

.PIGImage .pig_thumb{
    height: 70%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.PIGImage h4{
    width: 100%;
    display: inline-block;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.PIGImage span{
    display: inline-block;
    font-size: 0.7em;
}


/* Dropzone styling */
.dz-preview{
    border: 1px dashed grey;
    padding: 1em;
}

.dz-preview img{
    /*border: 1px solid lightgrey;*/
}

.dz-preview button{
    margin-top: 1em;
}

.dz-filename span{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.dz-upload{
    width:0;
    height:1em;
    background: grey;
    display:inline-block;
}

.dz-error{
    color:red;
}