body,
html {
  height: 100%;
}
.icon_list a {
  margin-right: 1em;
}
/* Top bar */
#header-bar {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  background: lightgrey;
  border-bottom: 1px dashed grey;
}
#header-bar .breadcrumb {
  margin: 0;
  background: lightgrey;
}
/* Bottom bar */
#action-bottom-bar {
  width: 100%;
  min-height: 2em;
  position: fixed;
  bottom: 0;
  background: lightgrey;
  border-top: 1px dashed grey;
  text-align: center;
  padding: 0.3em;
}
#main-content {
  margin: 4em auto;
}
/* =================== Component styling =================== */
/* Image box */
.PIGImage {
  position: relative;
  height: 15em;
  /* Fastest work around for same height column */
}
.PIGImage span {
  display: inline-block;
  font-size: 0.7em;
}
.PIGImage .overlay-actions {
  height: 70%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.PIGImage .overlay-actions button {
  opacity: 0;
  background: rgba(255, 255, 255, 0.7);
  border: 0;
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 3em;
}
.PIGImage .overlay-actions button:hover {
  opacity: 1;
}
div.PIGImage.selected {
  background-color: #c8ffc8;
}
/* =================== Modal styling =================== */
#modal-image-detail {
  text-align: center;
}
#modal-image-detail input {
  width: 100%;
  text-align: center;
  margin: 0.2em;
}
#modal-image-detail img {
  margin: 0.2em;
  max-width: 100%;
  max-height: 100%;
}
/* =================== DropZone styling =================== */
.dz-preview {
  border: 1px dashed grey;
  padding: 1em;
}
.dz-preview button {
  margin-top: 1em;
}
.dz-filename span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
.dz-upload {
  width: 0;
  height: 1em;
  background: grey;
  display: inline-block;
}
.dz-error {
  color: red;
}
