body,html{
  height: 100%;
}

.icon_list a{
    margin-right: 1em;
}
/* Top bar */
#header-bar {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    background: lightgrey;
    border-bottom: 1px dashed grey;

  .breadcrumb{
    margin: 0;
    background: lightgrey;
  }
}


/* Bottom bar */
#action-bottom-bar{
    width: 100%;
    min-height: 2em;
    position: fixed;
    bottom: 0;
    background: lightgrey;
    border-top: 1px dashed grey;
    text-align: center;
    padding: 0.3em;
}


#main-content{
    margin: 4em auto;
}


/* =================== Component styling =================== */

/* Image box */

.HiddenAlbum button{
  background: lightgrey;
}

.PIGImage{
  position: relative;
    height: 15em;   /* Fastest work around for same height column */

    span{
      display: inline-block;
      font-size: 0.7em;
    }

    .overlay-actions{
      height: 70%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;

      button{
        opacity: 0;
        background: rgba(255, 255, 255, 0.7);
        border: 0;
        width: 50%;
        height: 100%;
        text-align: center;
        font-size: 3em;
      }

      button:hover{
        opacity: 1;
      }
    }
}

div.PIGImage.selected{
  background-color: rgba(200,255,200,1);
}

/* =================== Modal styling =================== */
#modal-image-detail{

  text-align: center;

  input{
    width: 100%;
    text-align: center;
    margin: 0.2em;
  }

  img{
    margin: 0.2em;
    max-width: 100%;
    max-height: 100%;
  }
}



/* =================== DropZone styling =================== */
.dz-preview{
    border: 1px dashed grey;
    padding: 1em;

    button{
      margin-top: 1em;
    }
}

.dz-filename span{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.dz-upload{
    width:0;
    height:1em;
    background: grey;
    display:inline-block;
}

.dz-error{
    color:red;
}

/* ================== Util =============================== */
.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}